# Dataanalyse

I denne analysen tar vi i bruk klassen 'MiljoPerMnd' som lager grupper for gjennomsnitt, median og standardavvik per måned:
gjennomsnitt_per_mnd, median_per_mnd og standardavvik_per_mnd
Disse statistiske målene er viktige for å oppdage avvik datasettet vårt. Det gir oss også en god oversikt, samt innsikt variasjon og trender.

### Gjennomsnittsverdier
For gjennomsnittet:
Vi har tatt i bruk den innebygde funksjonen pandas.mean.
Vi observerer representative verider, som gir oss en indikasjon på  troverdige miljøverdier i datasettet vårt.

## Gjennomsnittsverdier per måned

Ved å bruke metoden gjennomsnitt_per_mnd() i klassen MiljoPerMnd, beregnes gjennomsnittet for ulike værvariabler måned for måned, gruppert etter år.

### Hva denne analysen viser:

- Den gir en oversikt over hvordan gjennomsnittlig vær har utviklet seg gjennom måneder og år.
- Dette er nyttig for å finne sesongmønstre, for eksempel om juli har blitt varmere over tid, eller hvilke måneder som i snitt har mest nedbør.

### Hva regnes ut:
Følgende værvariabler inngår i beregningen:

- Temperatur (°C)
- Lufttrykk (hPa)
- Nedbør (mm)
- Relativ fuktighet (%)
- Skydekke (oktas)

Verdiene grupperes på kombinasjonen År og Måned.

---

### Hvorfor bruke gjennomsnitt?

- Det gir et generelt bilde av værforholdene.
- Egner seg godt til å sammenligne år og måneder over tid.
- Brukes ofte som grunnlag i klimaanalyser og vurdering av endringer.

In [7]:
from opg4 import MiljoPerMnd


# Først: opprett objektet
analyse = MiljoPerMnd("../data/R_Sammenslaaing_uten_feil.csv")



# Og nå kan du hente gjennomsnitt
print("\nGjennomsnitt hver måned:")
display(analyse.gjennomsnitt_per_mnd())

Gjennomsnitt hver måned:

            Temperatur (°C)  Lufttrykk (hPa)  Nedbør (mm)  \
År   Måned
2023 1                -1.02          1006.24         3.24
     2                 0.32          1016.61         1.64
     3                -0.43          1003.88         2.34
     4                 5.91          1019.45         3.32
     5                11.71          1020.93         0.55
     6                18.93          1016.73         1.33
     7                16.39          1003.32         4.74
     8                16.17          1008.00         8.38
     9                14.47          1012.45         3.53
     10                5.71          1007.29         1.15
     11               -0.33          1005.02         2.02
     12               -4.56          1006.17         1.26
2024 1                -5.72          1010.36         2.43
     2                -1.02          1004.48         2.89
     3                 2.64          1011.06         3.17
     4                 5.58          1010.69         1.53
     5                15.94          1017.81         2.18
     6                15.40          1007.74         3.69
     7                16.77          1008.85         4.54
     8                16.31          1009.21         4.45
     9                13.37          1014.88         3.53
     10                8.27          1012.44         3.40
     11                2.56          1012.39         0.97
     12                1.34          1011.96         1.76

            Relativ fuktighet (%)  Skydekke (oktas)
År   Måned
2023 1                      88.58              6.42
     2                      78.32              5.49
     3                      68.77              5.12
     4                      64.57              5.20
     5                      55.87              4.21
     6                      55.60              3.73
     7                      76.39              6.11
     8                      82.74              6.50
     9                      83.10              5.97
     10                     73.65              5.90
     11                     81.43              6.76
     12                     84.42              5.87
2024 1                      84.61              5.43
     2                      84.24              6.38
     3                      82.68              6.52
     4                      66.83              5.68
     5                      58.19              4.68
     6                      71.07              5.01
     7                      77.55              5.69
     8                      78.42              5.39
     9                      83.07              5.11
     10                     87.81              5.81
     11                     81.77              5.71
     12                     87.30              6.11

### Medianverdi
Ved bruk av pandas gjennom den innebygde funksjonen numpy.median, har vi her display for gjennomsnittlig medianverdier per måned.

In [8]:
print('Medianverdi hver måned:')
display(analyse.median_per_mnd())

Medianverdi hver måned:

            Temperatur (°C)  Lufttrykk (hPa)  Nedbør (mm)  \
År   Måned
2023 1                -0.60          1005.70         0.90
     2                 0.60          1015.85         0.05
     3                -1.00          1006.00         0.00
     4                 5.55          1021.65         0.15
     5                12.20          1020.30         0.00
     6                18.85          1017.90         0.00
     7                16.20          1002.70         1.70
     8                16.40          1010.00         2.70
     9                14.40          1016.30         0.65
     10                5.40          1009.60         0.00
     11               -0.70          1006.90         0.20
     12               -3.90          1010.90         0.10
2024 1                -4.20          1013.20         0.10
     2                 0.20          1005.10         0.60
     3                 3.20          1011.40         0.90
     4                 5.65          1009.55         0.10
     5                16.20          1018.60         0.00
     6                15.05          1008.15         1.05
     7                16.40          1010.40         1.90
     8                16.40          1009.40         0.30
     9                13.45          1019.70         0.05
     10                8.60          1013.70         0.00
     11                2.65          1017.40         0.00
     12                1.60          1011.00         0.35

            Relativ fuktighet (%)  Skydekke (oktas)
År   Måned
2023 1                       92.0              7.70
     2                       78.5              6.00
     3                       64.0              5.00
     4                       61.5              5.65
     5                       54.0              4.30
     6                       50.5              3.30
     7                       79.0              6.30
     8                       84.0              6.70
     9                       88.0              6.85
     10                      72.0              6.30
     11                      84.0              7.50
     12                      84.0              7.30
2024 1                       84.0              6.00
     2                       89.0              7.70
     3                       85.0              7.70
     4                       68.0              6.15
     5                       54.0              5.00
     6                       74.0              5.50
     7                       76.0              6.00
     8                       79.0              6.30
     9                       86.0              5.15
     10                      87.0              6.00
     11                      89.0              6.50
     12                      93.0              6.85

### Standardavvik
Standardavvik er et mål på hvor mye verdiene i et datasett varierer i forhold til gjennomsnittet.
For å beregne standardavvik tar vi i bruk Pandas.std(ddof=1). Dette kommer av at vi har datamålinger over tid og derfor tar . Dermed undervurderer vi ikke variasjonen.
n-1 gjør at vi regner utvalgsstandardavvik
Vi observerer et høyt standardavvik for nedbør særlig i august 2023. Dtete tyder på et ustabilt klima i denne perioden.

In [9]:
print('Standardavvik hver måned:')
display(analyse.standardavvik_per_mnd())

Standardavvik hver måned:

            Temperatur (°C)  Lufttrykk (hPa)  Nedbør (mm)  \
År   Måned
2023 1                 3.78            17.45         4.59
     2                 2.29            13.59         3.43
     3                 2.98            11.79         3.91
     4                 3.33            11.80         7.34
     5                 3.54             6.25         1.38
     6                 3.04             5.94         3.65
     7                 1.99             7.90         6.57
     8                 1.37             9.72        14.80
     9                 2.19             9.21         9.51
     10                3.65             9.34         2.64
     11                3.53            11.70         4.75
     12                4.11            13.94         2.11
2024 1                 6.54            16.66         3.90
     2                 4.28            10.45         4.77
     3                 2.32            13.44         5.24
     4                 2.89             7.23         2.39
     5                 2.99             4.36         7.98
     6                 3.52             6.28         5.05
     7                 2.41             7.29         6.73
     8                 1.85             6.71         6.90
     9                 3.67            14.34         6.48
     10                2.22             9.26         6.61
     11                3.78            16.10         3.68
     12                3.26            16.18         2.50

            Relativ fuktighet (%)  Skydekke (oktas)
År   Måned
2023 1                      10.01              2.31
     2                      14.88              2.27
     3                      18.46              2.29
     4                      16.97              2.60
     5                      11.83              2.13
     6                      15.05              2.25
     7                      10.03              1.43
     8                       8.18              1.16
     9                      12.37              2.06
     10                     11.44              1.84
     11                      9.19              1.53
     12                      7.53              2.51
2024 1                       9.17              2.41
     2                      12.69              2.22
     3                      10.56              2.30
     4                      15.38              1.95
     5                      14.96              2.26
     6                      10.53              1.90
     7                      11.39              1.85
     8                      11.87              2.11
     9                      11.30              2.51
     10                      7.84              2.05
     11                     17.29              2.26
     12                     13.06              2.17