In [4]:
import pandas as pd

# Les inn filene
df_gj = pd.read_csv("frost_air_temperature_daglig_gjennomsnitt.csv")
df_trykk = pd.read_csv("frost_meanair_pressure_at_sea_level_P1D_jul-des_2024.csv")
df_nedbør = pd.read_csv("frost_sumprecipitation_amount_P1D_jul-des_2024.csv")

# Slå sammen alle datasettene på "Dato"
samlet = df_gj \
    .merge(df_trykk, on="Dato", how="left") \
    .merge(df_nedbør, on="Dato", how="left")

# Rydd opp i kolonnenavn hvis nødvendig
samlet.rename(columns={
    "Temperatur (°C)": "Temperatur (°C) daglig snitt"
}, inplace=True)

# Lagre til fil
samlet.to_csv("Sammenslaaing_gjsnitt.csv", index=False)

# Forhåndsvisning
print(samlet.head())

         Dato  Temperatur (°C) daglig snitt  Lufttrykk (hPa)  Nedbør (mm)
0  2024-07-01                     10.393750           1003.0          8.0
1  2024-07-02                     10.177778           1002.9          3.6
2  2024-07-03                     11.973611           1000.5          2.0
3  2024-07-04                     15.785417            993.2          0.1
4  2024-07-05                     12.113889            991.8          7.7

In [ ]:
# Identifisere og håndtere manglende verdier i datasettet:

In [5]:
samlet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Dato                          183 non-null    object
 1   Temperatur (°C) daglig snitt  183 non-null    float64
 2   Lufttrykk (hPa)               183 non-null    float64
 3   Nedbør (mm)                   183 non-null    float64
dtypes: float64(3), object(1)
memory usage: 5.8+ KB

In [7]:
print(samlet.isna().sum())

Dato                            0
Temperatur (°C) daglig snitt    0
Lufttrykk (hPa)                 0
Nedbør (mm)                     0
dtype: int64

In [ ]:
# Kode for å lokalisere "NaN" verdier

df_sammenslaaing = pd.read_csv("Sammenslaaing_gjsnitt.csv")

df_sammenslaaing.loc[df_sammenslaaing.isnull().any(axis=1)]

          Dato  Temperatur (°C) daglig snitt  Lufttrykk (hPa)  Nedbør (mm)
5   2024-07-06                     12.230556              NaN          3.2
33  2024-08-03                           NaN           1006.8          0.0

In [ ]:
df_sammenslaaing_UtenFeil = df_sammenslaaing.copy()